<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>userId</th>
        <th>userName</th>
        <th>nickName</th>
        <th>sex</th>
        <th>createBy</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="sysUsers,iterStat : ${sysUsers}">
        <td th:text="${sysUsers.userId}"></td>
        <td th:text="${sysUsers.userName}"></td>
        <td th:text="${sysUsers.nickName}"></td>
        <td th:text="${sysUsers.sex}"></td>
        <td th:text="${sysUsers.createBy}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>




